* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  /*  border: 1px solid black; */
}

body {
  font-family: "Montserrat";
  font-style: normal;
  min-height: 200vh;
  padding-top: 4.5em;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5em;
  background-color: #1c1c1c;
  transition: 0.6s ease;
  top: 0;
  padding: 0rem 9rem;
  z-index: 3;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 105vh;
  width: 250px;
  z-index: 4;
  background-color: rgba(247, 126, 40, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(255, 255, 255, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  display: flex;
  margin-top: 10px;
  list-style: none;
  width: 250px;
  padding: 0px 40px;
}

.sidebar li:hover {
  background-color: #1c1c1c;
}

.sidebar a {
  width: 100%;
  color: #2a2828;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 0px;
}

.sidebar a:hover {
  opacity: 100%;
  color: white;
}

.hamburger {
  display: none;
  list-style: none;
}

.hamburger a {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 20px;
  opacity: 0.69;
}

nav img {
  width: 119px;
  padding-top: 10px;
}

.nav-links {
  display: flex;
  padding-top: 20px;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 20px;
  opacity: 0.69;
}

.nav-links li a:hover {
  opacity: 1;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e27866;
  display: block;
  margin-top: 30px;
}

.nav-links ul li:hover::after {
  width: 80%;
  margin-left: 12px;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 639px;
  padding: 0rem 8rem;
  background: url(./assets/big.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero p {
  opacity: 80%;
  font-size: 16px;
}

.formBox {
  position: relative;
  background-color: white;
  height: 407px;
  margin-left: 90px;
  text-align: left;
  margin-bottom: 80px;
  border-radius: 10px;
}

.formBox h4 {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 650;
}

.formBox h3 span {
  color: #e27866;
  padding: 0em 0.5em;
  font-weight: 600;
}

.h3 {
  background-color: #f5f5f5;
  color: #333333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h3 {
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  background-color: #41d395;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  height: 57px;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submitBtn:hover {
  background-color: #06b761;
}

.submitBtn span {
  width: 100%;
}

.heroWrapper {
  color: #ffffff;
  text-align: left;
  margin-left: 25px;
  z-index: 1;
}

.signUp {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  width: 260px;
  height: 4em;
  border: none;
  border-bottom: 2px solid #d8d8d8;
  outline: none;
  padding-top: 30px;
  padding-left: 5px;
}

.signUp h4 {
  width: 260px;
}

::placeholder {
  position: absolute;
  top: 60%;
  color: #d8d8d8;
  left: 5%;
}

input[type="radio"] {
  display: none;
}

.radio-wrapper {
  display: flex;
  width: 260px;
}

.radio {
  position: relative;
  margin-right: 20px;
}

.radio label {
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  opacity: 60%;
}

.radio input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1.5px solid #41d395;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: -2px;
}

.radio input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5.6%;
  top: 50%;
  width: 3px;
  height: 3px;
  background-color: #41d395;
  border: 1px solid #41d395;
  border-radius: 50%;
}
.radio input[type="radio"]:checked + label {
  font-weight: bold;
  opacity: 100%;
  color: black;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  margin-bottom: 50px;
}

.separator {
  width: 84px;
  height: 22px;
  background-image: url(./assets/divider_white_u72.png);
  background-repeat: no-repeat;
  background-position-x: -10px;
}

.hero img {
  width: 246px;
}

.hero h2 {
  font-size: 36px;
  font-weight: 600;
}

.hero p {
  width: 651px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
}

.downloadBtn {
  width: 20%;
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  height: 42px;
  text-transform: uppercase;
  cursor: pointer;
}

.downloadBtn:hover {
  background-color: #e27866;
  border: 3px solid #ffffff;
  font-weight: bold;
}

.socialMedia {
  display: flex;
  align-items: center;
  padding: 0rem 9rem;
  height: 105px;
}

.icons {
  color: #e27866;
  opacity: 65%;
  height: 30px;
  width: 50%;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.socialWrap {
  width: 50%;
  margin: 10px 0px;
}

.socialWrap h4 {
  color: #333333;
}

.socialWrap p {
  font-size: 14px;
  width: 90%;
  color: #86878b;
  padding-top: 5px;
  opacity: 80%;
}

.tab-section {
  display: flex;
  position: relative;
  align-items: center;
  height: 595px;
  background-image: url(./assets/christoffer-engstrom-503481-unsplash@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0rem 9rem;
  z-index: 0;
}

.tab-section::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, #6696e2 0%, #e27866 100%);
  opacity: 42%;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  z-index: 1;
}

.tab {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #a37169;
  box-shadow: 0px 3px 6px #00000029;
  transition: background-color 0.4s ease, width 0.3s ease, height 0.3s ease;
}

.tab:hover {
  background-color: #e27866;
  width: 110px;
  height: 110px;
}
.oblique-text {
  width: 100px;
  color: #ffffff;
  opacity: 50%;
  font-size: 14px;
  text-align: center;
  transform-origin: bottom left;
  font-weight: 600;
  transform: translateY(200%) translateX(20%) rotate(-45deg);
}

.tab:hover .oblique-text {
  transform: rotate(0deg);
  transition: 0.5s ease;
  opacity: 100%;
}

.content {
  margin: 0px 40px;
  display: flex;
}

.text {
  color: #d8d8d8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px 20px;
  font-size: 14px;
  z-index: 1;
}
.text h4 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 0;
}

#image1,
#image2 {
  width: 175px;
}
.image-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 91%;
  height: 90%;
  background-color: #e27866;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picText {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.overlay img {
  margin-top: 15px;
}

#image3 {
  width: 362px;
}

.images img.highlighted {
  border: 2px solid #f00;
}

.features {
  background-color: #1c1c1c;
  display: flex;
  padding: 0px 210px;
}

.logoContainer {
  width: 50%;
  height: 596px;
  display: flex;
  justify-content: center;
  margin-right: 150px;
}

.logoContainer img {
  width: 389px;
}

.features-content {
  width: 50%;
}

.featuresTextWrap {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.featuresTextWrap h4 {
  font-size: 30px;
}

.featuresTextWrap p,
h6 {
  position: relative;
  font-size: 14px;
  margin-left: 65px;
  margin-top: 5px;
}

#firstP {
  margin-left: 0px;
  width: 500px;
}

.featuresTextWrap i {
  position: absolute;
  margin-top: 20px;
  margin-left: 14px;
  color: #ffffff;
  font-size: 20px;
  z-index: 1;
}

.iconWrapper {
  position: relative;
  margin-right: 10px;
}

.circle {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e27866;
}
.featuresSeparator {
  width: 40%;
  margin: 20px 0px;
  height: 20px;
}

.ourProcess {
  padding: 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 592px;
}

.processTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}

.processSeparator {
  width: 6%;
  background-color: #e27866;
  border: #e27866;
  height: 2px;
}

.processTextContainer h4 {
  font-size: 36px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 25px;
}

.processesContainer {
  display: flex;
  justify-content: space-around;
}

.process {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 29%;
}

.process h4 {
  font-size: 20px;
  color: #333333;
  font-weight: 450;
  margin-top: 35px;
}

.ourProcess p {
  font-size: 14px;
  color: #86878b;
  margin-top: 27px;
}

.processIconWrapper i {
  font-size: 18px;
  color: #e27866;
  border: 1px solid #e27866;
  padding: 10px;
  border-radius: 50%;
}

.fa-solid.fa-award {
  padding: 10px 13px;
}

.pricing {
  height: 883px;
  padding: 0px 145px;
  background-color: #6696e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
}

.card {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 20px;
}

.card h1 {
  color: #ffffff;
  font-size: 94px;
  font-weight: 400;
}

.card h3 {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.card span {
  font-size: 34px;
}

.card p {
  font-size: 14px;
  color: #ffffff;
  opacity: 50%;
}

.greenSeparator {
  background-color: #41d395;
  height: 6px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

#proSeparator {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#proCard {
  margin-bottom: 35px;
}

.cardWrapper ul {
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cardWrapper li {
  color: #86878b;
  font-size: 14px;
  text-align: center;
  list-style-type: none;
  padding: 10px 0px;
}

.pricingTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}

.pricingTextContainer h4 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px;
}

.pricingTextContainer p {
  font-size: 14px;
  color: #ffffff;
  margin: 25px 0px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.pricingSeparator {
  background-color: #41d395;
  width: 6%;
  height: 2px;
  margin-bottom: 5px;
}

.testimonial {
  padding: 0px 171px;
  height: 591px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.testimonialTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.testimonialTitle {
  font-size: 36px;
  font-weight: 600;
  color: #1c1c1c;
  margin-top: 57px;
}

.blueSeparator {
  background-color: #6696e2;
  width: 6%;
  height: 2px;
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.reviewText {
  position: relative;
  background-color: #6696e2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  padding: 20px;
  border-radius: 10px;
  max-width: 273px;
}

#smallReviewText {
  max-height: 125px;
  margin-top: 20px;
}

.arrow {
  width: 20px;
  height: 20px;
  background-color: #6696e2;
  position: absolute;
  bottom: -5px;
  right: 230px;
  transform: rotate(45deg);
  z-index: 1;
}

.profile-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.profile-details .name {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
}

.profile-details .job {
  color: #86878b;
  font-size: 14px;
  margin-top: 5px;
}

.reviews {
  display: flex;
  flex-direction: column;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e27866;
  margin: 0 5px;
  cursor: pointer;
}

.testimonialNav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 100px;
}
.indicator.active {
  background-color: #e27866;
}

.active {
  display: block;
}

.contactUs {
  background-color: #e27866;
  height: 573px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contactUsTitle h4 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
}

.contactUs .formBox {
  height: 314px;
  margin: 0px;
}

.contactUs button {
  width: 45%;
  border-radius: 5px;
  height: 45px;
  margin-top: 20px;
}

.contactUs button span {
  font-size: 15px;
}

.contactUs p {
  font-size: 14px;
  color: #ffffff;
}

.contactUs .formBox {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
}

.contactUs .signUp {
  margin-bottom: 30px;
}

.footer {
  height: 124px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 136px;
}
.footerIcons {
  color: #e27866;
  width: 50%;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footerIcons i {
  font-size: 20px;
}

.copyright {
  font-size: 18px;
  color: #ffffff;
  opacity: 50%;
}

@media (max-width: 450px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
  }

  .nav-links {
    display: none;
  }

  nav {
    width: 450px;
    padding: 0px;
    position: fixed;
  }

  .hamburger {
    display: flex;
  }

  nav img {
    margin-right: 160px;
  }

  .hero {
    background-size: cover;
    padding: 0px;
    width: 450px;
    height: 580px;
  }

  .hero h2 {
    margin: 50px 0px;
    font-size: 30px;
    text-align: center;
  }

  .hero p {
    font-size: 12px;
    text-align: center;
  }

  .heroWrapper {
    margin: 0px;
    padding: 20px;
  }

  .separator {
    display: none;
  }

  .hero img {
    display: none;
  }

  .downloadBtn {
    width: 100%;
    margin-top: 50px;
    height: 50px;
  }

  .hero p {
    width: 100%;
  }

  .formBox {
    display: none;
  }

  .socialMedia {
    padding: 20px;
    max-width: 450px;
  }
  .socialWrap {
    display: none;
  }
  .icons {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }

  .tab-section {
    padding: 0px 20px;
    background-size: cover;
    background-position: left;
    max-width: 475px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .text h4 {
    width: 100%;
    font-size: 20px;
  }
  .text p {
    font-size: 12px;
  }

  .images {
    display: none;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 60px;
  }

  .features {
    padding: 0px;
    width: 450px;
    height: 550px;
  }

  .featuresTextWrap {
    width: 440px;
    padding-left: 30px;
    padding-right: 50px;
  }

  .features h4 {
    font-size: 25px;
  }

  .featuresTextWrap p {
    font-size: 12px;
  }

  #firstP {
    width: 400px;
  }

  .logoContainer {
    display: none;
  }

  .ourProcess {
    padding: 0px 20px;
    height: 500px;
  }

  .processTextContainer h4 {
    font-size: 30px;
  }

  .processesContainer p {
    display: none;
  }

  .pricing {
    width: 450px;
    height: 700px;
    padding: 0px;
  }
  .pricingTextContainer {
    margin-top: 100px;
  }

  .pricing h4 {
    font-size: 30px;
  }

  .cardContainer {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .cardWrapper h1 {
    font-size: 60px;
  }

  .cardWrapper li {
    padding: 7px;
  }

  .card {
    width: 250px;
  }

  #proCard {
    margin-bottom: 20px;
  }

  .testimonial {
    padding: 0px 20px;
    width: 450px;
  }

  .testimonialTextContainer h4 {
    font-size: 35px;
    text-align: center;
  }

  .reviewsContainer {
    gap: 3rem;
    margin-bottom: 0px;
    margin-left: 30px;
    overflow-x: scroll;
  }
  .reviewText {
    width: 300px;
  }

  .contactUs {
    width: 450px;
  }

  .footer {
    padding: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 450px;
    height: 100px;
  }
  .footerIcons {
    display: none;
  }
}
