* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat";
  font-style: normal;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 72px;
  background-color: #1c1c1c;
  position: sticky;
  top: 0;
}

nav img {
  width: 119px;
  padding-top: 10px;
}

.nav-links {
  display: flex;
  flex-shrink: 0;
  padding-top: 32px;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 20px;
  opacity: 0.69;
}

.nav-links li a:hover {
  opacity: 1;
}

.nav-links ul li::after {
  content: "";
  color: aquamarine;
  width: 0%;
  height: 2px;
  background: #e27866;
  display: block;
  margin-top: 32px;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.hero {
  height: 639px;
  background: url(./assets/photo-1480714378408-67cf0d13bc1b.png);
  background-size: cover;
}
